[Unit]
Description=Grobid Journal Service
After=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/grobid
ExecStart=/opt/grobid/grobid.sh
ExecStop=
User=grobid
SyslogIdentifier=grobid
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target