[Unit]
Description=Grobid Journal Service
After=network.target

[Service]
StartLimitIntervalSec=0[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt/grobid
ExecStart=gradlew run
ExecStop=
User=grobid
SyslogIdentifier=grobid
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target