[Unit]
Description=Grobid Journal Service
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=grobid
ExecStart=/opt/grobid/gradlew run

[Install]
WantedBy=multi-user.target